<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="utf-8">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/css/jkeyboard.css">
    <script src="/js/svg-inject.js"></script>
  <title>Hangman - Free game for up to 10 players!</title>
  </head>
  <body>
    <!-- Overlay -->
    <div  class="g-overlay" >
      <div id="overlay-phrase-container" class="g-container">
        <h1>Choose a Word</h1>
        <div id="overlay-word-rejected" style="display:none">Word rejected. Scrabble words only.</div>
        <form class="g-large-input">
          <input id="phrase-input" type="text"
          autocomplete="off" required="true" maxlength="27"
          name="phrase" placeholder="Word or phrase*"/>
          <input id="hint-input" type="text"
          autocomplete="off" maxlength="27"
          name="hint" placeholder="Hint or category*"/>
          <input id="submit-button" type="submit" value="✔️" />
        </form>

        <label for="game-id">Copy and share with your friends:</label>
        <input type="text" class="game-id" name="game-id"
        autocomplete="off" readonly
        onclick="this.setSelectionRange(0, this.value.length);">
      </div>
    </div>

    <!-- Header -->
    <header class="g-header">
      <span class="g-title-container">
        <h1><a href="/">Hangman</a></h1>
        <p class="g-player-count">Players online: <%= playersOnline %></p>
      </span>
      <span class="g-leave-wrapper">
        <p id="player-name">&nbsp</p>
        <p><a href="/">Leave game</a></p>
      </span>
      <span class="g-error-wrapper-desktop">
        <p class="error-message">&nbsp</p>
      </span>
    </header>
    <!-- Content -->
    <div id="game-wrapper" class="g-content-wrapper">
      <!-- Left -->
      <span id="left-container">
        <div id="hangman-wrapper" class="g-container">
          <img id="hangman-image" src ="/img/hangman.svg"/>
        </div>
        <div class="error-wrapper-mobile" >
          <p class="error-message">Here is a message</p>
        </div>
      </span>


      <!-- Right -->
      <span id="right-container" >
        <div id="phrase-container" class="g-container">
          <h3 id="hint-display">&nbsp</h3>
          <h2 id="phrase-display">&nbsp</h2>
          <h2 id="guessed-letters-display">&nbsp</h2>
        </div>
        <div id="name-container" class="g-container">
          <ul id="name-list">
            <!-- Name list goes here! class="name"-->
          </ul>
        </div>
        <div id="keyboard-container" class="g-container">
          <div id="keyboard"></div>
        </div>
      </span>
    </div>

    <!-- Footer -->
    <footer class="g-footer">
      <p><a href=""></a></p>
    </footer>
    <script>SVGInject(document.getElementById('hangman-image'));</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script type="module">
      import * as Cookies from './js/js.cookie.min.js'
    </script>
    <link rel="stylesheet" type="text/css" href="css/jquery.svg.css">
    <script type="text/javascript" src="js/jquery.svg.js"></script>
    <script src="/js/jkeyboard.js"></script>
    <script src="/js/hangman.js"></script>
    <script>
      function overlayOn(){
        $(".g-overlay").css("display","block");
      }
      function overlayOff(){
        $(".g-overlay").css("display","none");
      }
    </script>
  </body>
</html>
