<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Hangman - Free game for up to 10 players!</title>
  </head>
  <body>

    <!-- Header -->
    <header class="g-header">
      <span class="g-title-container">
        <h1>Hangman</h1>
        <p class="g-player-count">Players online: <%= playersOnline %></p>
      </span>
      <span class="g-error-wrapper">
        <p>&nbsp</p>
      </span>
    </header>
    <!-- Content -->
    <div id="game-wrapper" class="g-content-wrapper">
      <!-- Left -->
      <span id="left-container">
        <div id="hangman-wrapper" class="g-container">
          <img id="hangman-image" src ="/img/hangman-show.svg"/>
        </div>
      </span>

      <!-- Right -->
      <span id="right-container">
        <div id="make-game-container" class="g-container">
          <form  method="post">
            <input type="hidden" id="join-game" name="postType" value="make game" />
            <label for="name">Max No. of Players:</label>
            <input class="main-input" id="max-player-input" type="number" name="maxPlayers" value=4 min="2" max="10" />
            <label for="checkbox-public">Make game public.</label>
            <input class="main-input" id="checkbox-public" type="checkbox" name="isPublic" value="false" />
            <button class="main-input" id="button-make-game" type="submit" >New Game</button>
          </form>
        </div>
        <div id="join-game-container" class="g-container">

          <form class="joining-form" method="post">
            <input type="hidden" id="join-game" name="postType" value="join game" />
            <label for="button-join-game">Join a random public game.</label>
            <button class="main-input" id="button-join-game" type="submit">Join</button>
          </form>
        </div>
      </span>
    </div>

    <!-- Footer -->
    <footer class="g-footer">
      <p><a href=""></a></p>
    </footer>
    <script>
      (()=>{
        document.getElementById("max-player-input").focus();
      })();
    </script>
  </body>
</html>
